<!DOCTYPE html>
<html ng-app="YouTubefy" ng-controller="googleController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container navbar-left">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("YouTubefy", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            </div>

            <div class="navbar-collapse collapse">
                <ul class="kunt">
                    <li class="navbar-fixed-top">
                        <form class="input-group-lg" ng-submit="search(true)">
                            <input class="oymate" id="query" name="q" type="text" placeholder="Search..." ng-model="query">
                            <!--<input id="submit" type="image" src="search.png" alt="Search">-->
                            <input class="btn-info btn btn-lg" type="submit">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <!--<hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>-->
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - YouTubefy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
